# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Environment Variables
.env*.local
.env # Add .env as well, should not be committed

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.*proj.user
*.*scc
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled Output
*.js.map
*.ts.map

# Optional: Sentry specific files if needed
# .sentryclirc

# macOS file system metadata files
._*

# Optional files from specific tools
# Examples:
# /dist
# /storybook-static

# MongoDB files
/data/db # If running MongoDB locally in project folder
mongod.lock # MongoDB lock file
